body{
    font-family: Comic Sans MS, cursive, sans-serif;
    margin:0;
    background-color: #44BBA4;
    display:flex;
    flex-direction: column;
    height: 100vh;
}
header{
    position:sticky;
    top:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:24px;
    z-index:100;
    }
nav{
    display:flex;
    gap:24px;
}
h1{
    color:maroon;
    margin-top: 0;
}
a{
    text-decoration: none;
    font-size:20px;
    display:inline-block;
    margin-right:8px;
    color:white;
    padding: 5px;
    border-radius:5px;
}
a:hover{
    background-color: #3BC14A;
    color:white;
}
.card{
    background-color:#FFBE86 ;
    width:400px;
    padding:5px;
    margin-top:8px;
    border-radius:5px;
}
h2{
    margin-top:0;
    
}
footer p{
    text-align: center;
    color:black;
}
.box{
    display:flex;
    justify-content:center;
    gap:20px;
    align-items:
}
main{
    flex: 1;
}
footer{
    background-color: plum;
}
